<!--
  With the toughest care, the most economical tenderness
  Justine Youssef, 2022

  Design + code: Alexander Tanazefti
  Photography: Hyun Lee

  🌱
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ siteUrl }}">
    <meta property="og:image" content="{{ siteUrl }}{{ 'assets/img/og_image.png' | url }}">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="icon" id="favicon" href="{{ '/assets/img/favicon.png' | url }}">

    <link rel="stylesheet" href="{{ '/assets/css/flickity.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">

    {# <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleId }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ googleId }}');
    </script> #}
  </head>
  <body>
    {{ content | safe }}
    
    <script src="{{ '/assets/js/flickity.pkgd.min.js' | url }}"></script>
    <script src="{{ '/assets/js/scripts.js' | url }}"></script>
  </body>
</html>
