---
layout: base.njk
templateEngineOverride: njk,md
---
<section class="cover">
  {# {% cover "./src/assets/img/JY_Web_Desktop.png", "./src/assets/img/JY_Web_Mobile.png", "Rubbing of milk thistle plant on canvas texture", "plant" %}
  <picture class="title">
    <source media="(orientation:landscape)" srcset="{{ '/assets/img/JY_Title_Desktop.svg' }}" />
    <source media="(orientation:portrait)" srcset="{{ '/assets/img/JY_Title_Mobile.svg' }}" />
    <img src="{{ '/assets/img/JY_Title_Desktop.svg' }}" alt="with the toughest care, the most economical tenderness" />
  </picture> #}

  {% cover "./src/assets/img/JY_Web_Inverted_Desktop.png", "./src/assets/img/JY_Web_Inverted_Mobile.png", "Rubbing of milk thistle plant on canvas texture", "plant" %}
  <picture class="title">
    <source media="(orientation:landscape)" srcset="{{ '/assets/img/JY_Title_Inverted_Desktop.svg' }}" />
    <source media="(orientation:portrait)" srcset="{{ '/assets/img/JY_Title_Inverted_Mobile.svg' }}" />
    <img src="{{ '/assets/img/JY_Title_Inverted_Desktop.svg' }}" alt="with the toughest care, the most economical tenderness" />
  </picture>
</section>
<section class="content">
  <header>
    <div>
      <h1><em>With the toughest care,</em></h1>
      <h1><em> the most economical tenderness</em></h1>
      <h1 class="name">Justine Youssef</h1>
    </div>
  <h2 class="heading">Hawai‘i Triennial 2022</h2>
  </header>
  <main>
    <section class="text about">
      <h2 class="heading">About</h2>
      <div>{{ about | markdownify | safe }}</div>
    </section>
    <section class="text registration">
      <h2 class="heading">Registration</h2>
      <div>{{ registration | markdownify | safe }}</div>
      <div class="mailchimp">
        <form action="https://care.us14.list-manage.com/subscribe/post?u=ccbd97ec31c9fff7815a3f355&amp;id=b7393a1b08" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="field full">
              <label for="mce-FNAME">Name<span class="asterisk">*</span></label>
              <input type="text" value="" placeholder="&#160;" name="FNAME" class="required" id="mce-FNAME">
            </div>
            <div class="field full">
              <label for="mce-EMAIL">Email<span class="asterisk">*</span></label>
              <input type="email" value="" placeholder="&#160;" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="address">
              <div class="field full">
                <label for="mce-ADDRESS-addr1">Address<span class="asterisk">*</span></label>
                <input type="text" value="" placeholder="&#160;" maxlength="50" name="ADDRESS[addr1]" id="mce-ADDRESS-addr1" class="required">
              </div>
              <div class="field full">
                <label for="mce-ADDRESS-addr2" style="visibility:hidden">Address 2</label>
                <input type="text" value="" placeholder="&#160;" maxlength="50" name="ADDRESS[addr2]" id="mce-ADDRESS-addr2">		
              </div>
              <div class="field full">
                <label for="mce-ADDRESS-city">City<span class="asterisk">*</span></label>
                <input type="text" value="" placeholder="&#160;" maxlength="40" name="ADDRESS[city]" id="mce-ADDRESS-city" class="required">
              </div>
              <div class="field">
                <label for="mce-ADDRESS-state">State<span class="asterisk">*</span></label>
                <input type="text" value="" placeholder="&#160;" maxlength="20" name="ADDRESS[state]" id="mce-ADDRESS-state" class="required">
              </div>
              <div class="field zip">
                <label for="mce-ADDRESS-zip">Zip Code<span class="asterisk">*</span></label>
                <input type="text" value="" placeholder="&#160;" maxlength="10" name="ADDRESS[zip]" id="mce-ADDRESS-zip" class="required">
              </div>
              <div class="field hidden">
                <label for="mce-ADDRESS-country">Country</label>
                <select name="ADDRESS[country]" id="mce-ADDRESS-country" class="required"><option value="164" selected>USA</option></select>
              </div>
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ccbd97ec31c9fff7815a3f355_b7393a1b08" tabindex="-1" value=""></div>
            <div class="field">
              <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>
        </form>
        <div class="privacy">
          <p>By clicking submit, you acknowledge that your information will be transferred to Mailchimp for registration processing. <a href="https://mailchimp.com/legal/terms" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
        </div>
      </div>
      <div class="registration2">{{ registration2 | markdownify | safe }}</div>
    </section>
    <section class="text documentation">
      <h2 class="heading">Documentation</h2>
      <div></div>
      <div class="carousel">
        {% image "./src/images/IMG_7692.jpg", "" %}
        {% image "./src/images/IMG_6794.jpg", "" %}
        {% image "./src/images/IMG_7257.jpg", "" %}
        {% image "./src/images/IMG_8823.jpg", "" %}
        {% image "./src/images/IMG_6910.jpg", "" %}
        {% image "./src/images/IMG_7765.jpg", "" %}
        {% image "./src/images/IMG_7452.jpg", "" %}
        {% image "./src/images/IMG_7690.jpg", "" %}
        {% image "./src/images/IMG_7721.jpg", "" %}
        {% image "./src/images/IMG_6778.jpg", "" %}
        {% image "./src/images/IMG_6825.jpg", "" %}
        {% image "./src/images/IMG_6832.jpg", "" %}
      </div>
      <div class="carousel">
        {% image "./src/images/IMG_8178.jpg", "" %}
        {% image "./src/images/IMG_7805.jpg", "" %}
        {% image "./src/images/IMG_8095.jpg", "" %}
        {% image "./src/images/IMG_8709.jpg", "" %}
        {% image "./src/images/IMG_7924.jpg", "" %}
        {% image "./src/images/IMG_7985.jpg", "" %}
        {% image "./src/images/IMG_7994.jpg", "" %}
        {% image "./src/images/IMG_8677.jpg", "" %}
        {% image "./src/images/IMG_8089.jpg", "" %}
        {% image "./src/images/IMG_8146.jpg", "" %}
      </div>
      <div class="credit"><p>Photography by Hyun Lee</p></div>
    </section>
    <section class="text thistle">
      <h2 class="heading">Blessed Milk Thistle</h2>
      <div>{{ thistle | markdownify | safe }}</div>
    </section>
    <section class="text bio">
      <h2 class="heading">Biography</h2>
      <div>{{ bio | markdownify | safe }}</div>
    </section>
    <section class="text acknowledgements">
      <h2 class="heading">Acknowledgements</h2>
      <div>{{ acknowledgements | markdownify | safe }}</div>
    </section>
    <section class="text grant">
      <h2 class="heading"></h2>
      <div>{{ grant | markdownify | safe }}</div>
      <div class="logos">
        <img src="{{ '/assets/img/ausco_logo.png' }}" alt="Australia Council for the Arts logo" />
        <img src="{{ '/assets/img/parra_logo.png' }}" alt="City of Parramatta logo" />
        <img src="{{ '/assets/img/hc_logo.png' }}" alt="Hawai‘i Contemporary logo" />
      </div>
    </section>
    <section class="text credit">
      <p>Design & development by <a href="https://atanazefti.com" target="_blank">Alexander Tanazefti</a></p>
    </section>
  </main>
</section>