---
layout: base.njk
templateEngineOverride: njk,md
---
<section class="cover">
  {# {% cover "./src/assets/img/JY_Web_Desktop.png", "./src/assets/img/JY_Web_Mobile.png", "Rubbing of milk thistle plant on canvas texture", "plant" %}
  <picture class="title">
    <source media="(orientation:landscape)" srcset="{{ '/assets/img/JY_Title_Desktop.svg' }}" />
    <source media="(orientation:portrait)" srcset="{{ '/assets/img/JY_Title_Mobile.svg' }}" />
    <img src="{{ '/assets/img/JY_Title_Desktop.svg' }}" alt="with the toughest care, the most economical tenderness" />
  </picture> #}

  {% cover "./src/assets/img/JY_Web_Inverted_Desktop.png", "./src/assets/img/JY_Web_Inverted_Mobile.png", "Rubbing of milk thistle plant on canvas texture", "plant" %}
  <picture class="title">
    <source media="(orientation:landscape)" srcset="{{ '/assets/img/JY_Title_Inverted_Desktop.svg' }}" />
    <source media="(orientation:portrait)" srcset="{{ '/assets/img/JY_Title_Inverted_Mobile.svg' }}" />
    <img src="{{ '/assets/img/JY_Title_Inverted_Desktop.svg' }}" alt="with the toughest care, the most economical tenderness" />
  </picture>
</section>
<section class="content">
  <header>
    <div>
      <h1><em>With the toughest care,</em></h1>
      <h1><em> the most economical tenderness</em></h1>
      <h1 class="name">Justine Youssef</h1>
    </div>
  <h2>Hawai‘i Triennial 2022</h2>
  </header>
  <main>
    <section class="text about">
      <h2 class="heading">About</h2>
      <div>{{ about | markdownify | safe }}</div>
    </section>
    <section class="text registration">
      <h2 class="heading">Registration</h2>
      <div class="registration2">{{ registration2 | markdownify | safe }}</div>
    </section>
    <section class="text documentation">
      <h2 class="heading">Documentation</h2>
      <div></div>
      <div class="carousel">
        {% image "./src/images/IMG_7692.jpg", "" %}
        {% image "./src/images/IMG_6794.jpg", "" %}
        {% image "./src/images/IMG_7257.jpg", "" %}
        {% image "./src/images/IMG_8823.jpg", "" %}
        {% image "./src/images/IMG_6910.jpg", "" %}
        {% image "./src/images/IMG_7765.jpg", "" %}
        {% image "./src/images/IMG_7452.jpg", "" %}
        {% image "./src/images/IMG_7690.jpg", "" %}
        {% image "./src/images/IMG_7721.jpg", "" %}
        {% image "./src/images/IMG_6778.jpg", "" %}
        {% image "./src/images/IMG_6825.jpg", "" %}
        {% image "./src/images/IMG_6832.jpg", "" %}
      </div>
      <div></div><div class="counter counter-0"></div>
      <div class="carousel">
        {% image "./src/images/IMG_8178.jpg", "" %}
        {% image "./src/images/IMG_7805.jpg", "" %}
        {% image "./src/images/IMG_8095.jpg", "" %}
        {% image "./src/images/IMG_8709.jpg", "" %}
        {% image "./src/images/IMG_7924.jpg", "" %}
        {% image "./src/images/IMG_7985.jpg", "" %}
        {% image "./src/images/IMG_7994.jpg", "" %}
        {% image "./src/images/IMG_8677.jpg", "" %}
        {% image "./src/images/IMG_8089.jpg", "" %}
        {% image "./src/images/IMG_8146.jpg", "" %}
      </div>
      <div></div><div class="counter counter-1"></div>
    </section>
    <section class="text thistle">
      <h2 class="heading">Blessed Milk Thistle</h2>
      <div>{{ thistle | markdownify | safe }}</div>
    </section>
    <section class="text bio">
      <h2 class="heading">Biography</h2>
      <div>{{ bio | markdownify | safe }}</div>
    </section>
    <section class="text acknowledgements">
      <h2 class="heading">Acknowledgements</h2>
      <div>{{ acknowledgements | markdownify | safe }}</div>
    </section>
    <section class="text grant">
      <h2 class="heading"></h2>
      <div>{{ grant | markdownify | safe }}</div>
      <div class="logos">
        <img src="{{ '/assets/img/ausco_logo.png' }}" alt="Australia Council for the Arts logo" />
        <img src="{{ '/assets/img/parra_logo.png' }}" alt="City of Parramatta logo" />
        <img src="{{ '/assets/img/hc_logo.png' }}" alt="Hawai‘i Contemporary logo" />
      </div>
    </section>
    <section class="text credit">
      <p>Photography by <a href="https://hyunleee.com/" target="_blank">Hyun Lee</a>, design and code by <a href="https://atanazefti.com" target="_blank">Alexander Tanazefti</a></p>
    </section>
  </main>
</section>